@charset "utf-8";
	.IXjAKAtif
{
	background-image : url(IXjAKAtif.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 19px;
	top : 788px;
	width : 246px;
	height : 45px;
}
